# Service configuration
NODE_ENV=development
GOV_LOG_LEVEL=INFO
GOV_SERVICE_NAME=reporter
PORT=5905

# Internal service URLs
REGISTRY_SERVICE_URL=http://localhost:5902

# Database URIs
MONGO_URI=mongodb://localhost:27017/governify

# JWT configuration
SERVICE_AUTHENTICATION_ENABLED=false
JWT_SECRET=governify_secret_key