# Service configuration
NODE_ENV=development
GOV_LOG_LEVEL=INFO
GOV_SERVICE_NAME=reporter
PORT=5905

# Internal service URLs
REGISTRY_SERVICE_URL=http://localhost:5902

# Database URIs
MONGO_URI=mongodb://localhost:27017/governify

# JWT configuration
SERVICE_AUTHENTICATION_ENABLED=false
JWT_SECRET=governify_secret_key

# InfluxDB settings
INFLUX_URL=http://localhost:8181
INFLUX_TOKEN=supersecrettoken
INFLUX_DATABASE=governify-next
INFLUX_WRITE_PRECISION=millisecond
INFLUX_MAX_FAST_RETRIES=5
INFLUX_RETRY_FAST_DELAY_MS=1000
INFLUX_SLOW_RECONNECTION_MAX_RETRIES=10
INFLUX_SLOW_RECONNECTION_STRATEGY=true
INFLUX_RETRY_SLOW_DELAY_MS=10000
INFLUX_HEALTHCHECK_INTERVAL_MS=10000
INFLUX_HEALTHCHECK_TIMEOUT_MS=3000